<?xml version="1.0"?>
<!--
/**
 * @author    Chamika <chamikax@gmail.com>
 * @copyright Copyright© 2020. All rights reserved.
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="docler_dailyTasks_tasks_listing_data_source" xsi:type="string">DoclerDailyTasksCollection</item>
                <item name="docler_dailyTasks_tasks_form_data_source" xsi:type="string">DoclerDailyTasksCollection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="DoclerDailyTasksCollection" type="Docler\DailyTasks\Ui\DataProvider\Tasks\Listing\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">docler_daily_tasks</argument>
            <argument name="resourceModel" xsi:type="string">Docler\DailyTasks\Model\ResourceModel\Tasks</argument>
        </arguments>
    </virtualType>
    <preference for="Docler\DailyTasks\Api\TasksRepositoryInterface" type="Docler\DailyTasks\Model\TasksRepository"/>
    <preference for="Docler\DailyTasks\Api\Data\TasksInterface" type="Docler\DailyTasks\Model\Tasks"/>
    <preference for="Docler\DailyTasks\Api\Data\TasksSearchResultInterface" type="Magento\Framework\Api\SearchResults"/>
</config>
